<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %}Welcome!{% endblock %}</title>

	<link rel="stylesheet" href="/bundles/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/bundles/bootstrap/css/bootstrap-theme.css">

	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/elements.css">
	<link rel="stylesheet" href="/css/forms.css">

	<script src="/bundles/jquery/jquery.js"></script>
	<script src="/bundles/bootstrap/js/bootstrap.js"></script>

	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<script src="/js/User.js"></script>
	<script src="/js/User/List.js"></script>
	<script src="/js/User/Form.js"></script>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
