{%  extends 'base.html.twig' %}
{%  block body %}
	<div id="sitewrapper">
		<div id="pagewrapper">
			<header>
				<h1>First Symphony</h1>
			</header>

			<nav class="navbar navbar-inverse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ path('home') }}">Home</a></li>
					{% if loggedIn is defined %}
					<li><a href="{{ path('user_profile', {'userId': user.id}) }}">Profil</a></li>
					{% endif %}
				</ul>

				<ul class="nav navbar-nav">
					<li><a href="{{ path('users') }}">Userliste</a></li>
				</ul>

				<ul class="nav navbar-nav pull-right">
					<li><a href="#">Anmelden</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="">Registrieren</a></li>
				</ul>
			</nav>

			<div id="content">
				{% block content %}{% endblock %}
			</div>

			<footer>
				[:: Hier könnte Ihre Werbung stehen ::]
			</footer>
		</div>
	</div>
{% endblock %}