{% extends 'main.layout.twig' %}
{% block content %}
	<h2>Willkommen</h2>
	<p>
		Bei dieser Anwendung handelt es sich um eine Testumsetzung. Der einzige Sinn besteht darin mir Symphony und Doctrine näher zu bringen.
		Deshalb gibt es hier auch nicht viel zu sehen. Man kann sich registrieren, anmelden und seine Profilseite bearbeiten.
	</p>
{% endblock %}
