
header #logo {
	float: left;
}

header h1 {
	margin-left: 30px;
}


/* userlist */

#page-title .icon {
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 7px;
}
#page-title .icon svg {
	fill: #dd4d0b;
}
#page-title h2 {
	line-height: 50px;
}


#userlist .btn-add svg,
#userlist .btn-delete svg {
	fill: white;
}

#userlist .btn-add,
#userlist .btn-edit ,
#userlist .btn-delete {
	padding: 5px 4px 0 5px;
}